<div class = "center error align-middle">
    <strong><i class = "fa fa-question-mark"></i> Hey! What did you do!? Just kidding, something went wrong...</strong>
    
    <br/>
    
    <%= image_tag("facepalm.jpg", class: "center") %>
    
    <br/>
    <br/>
    
    <%= link_to raw("<i class = 'fa fa-home'></i> Go Home") , "/", :class => "btn" %>
</div>