<legend><h2>Browsing Tips</h2></legend>

<div class = "center span8">
    <table>
        <tr>
            <td class = "highlight">
                Explnation
            </td>
            <td>
                 <%= image_tag("facepalm.jpg") %>
            </td>
        </tr>
         <tr>
            <td>
            <%= image_tag("facepalm.jpg") %>
              
            </td>
            <td class = "highlight">
                  Explnation 
            </td>
        </tr>
         <tr>
            <td class = "highlight">
                Explnation
            </td>
            <td>
                 <%= image_tag("facepalm.jpg") %>
            </td>
        </tr>
    </table>
</div>